<header class="portfolio-header">
  <h1 class="portfolio-title">Diego Ochoa</h1>

  <div class="text-center social-icons">
    <a href="https://github.com/daoch" target="_blank" rel="noopener">
      <i class="fa-brands fa-github"></i>
    </a>
    <span>·</span>
    <a href="https://www.linkedin.com/in/daoch" target="_blank" rel="noopener">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <span>·</span>
    <a href="https://www.whatsapp.com/" target="_blank" rel="noopener">
      <i class="fa-brands fa-whatsapp"></i>
    </a>
    <span>·</span>
    <a href="mailto:contact@diegoochoa.dev">
      <i class="fa-solid fa-envelope"></i>
    </a>
  </div>
</header>
